:host{
    position: absolute;
    right: 0;
    bottom: 0;
}

.carousel-peek{
    position: absolute;
    top: 0;
    width: 80px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
    }
}

.carousel-peek-ghost{
    width: 100px;
    height: 70px;
    z-index: 1000;
    background: #BDC3D1;
    opacity: 53%;
}

.carousel{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 40px;
    right: 150px;
    justify-content: center;
    .img-container{
        min-width: 320px;
        height: 180px;
        border-radius: 0;
        padding: 0;
        margin: 20px 10px;
        img{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
    .carousel-control{
        align-self: center;
        color:#444141;
    }
    .previous{
       left: 10px;
    }
    .next{
        left: -10px
    }

    .btn-minimize{
        position: absolute;
        right: 14px;
        font-size: 45px;
        top: -7px; 
        cursor: pointer;
        color:#444141;
        line-height: 0;
    }
}


.carousel-ghost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    right: 150px;
    background: #BDC3D1;
    opacity: 53%;
    .dummy{
        margin: 20px 10px;
        min-width: 320px;
        height: 190px;
    }
    .dummy-btn{
        min-width: 40px;
        height: 40px;
        align-self: center;
    }
}