<div class="container" *ngIf="data && data.images && data.images.length">
   <div class="carousel-peek-ghost">

   </div>
    <div class="carousel-peek" (click)="onClick()">
        <img [src]="data.images[0].url" alt="">
    </div>

    <div class="carousel-ghost"  *ngIf="showCarousel" >
        <div class="dummy-btn"></div>
        <div class="dummy" *ngFor="let item of batch">

        </div>
        <div class="dummy-btn"></div>
    </div>

    <div class="carousel" *ngIf="showCarousel">
        <button mat-icon-button aria-label="carousel-control"  class="carousel-control previous" (click)="OnPrevious()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <mat-card class="img-container" *ngFor="let item of batch">
            <img [src]="item.url" alt="" (click)="openDialog(item.url)">
        </mat-card>
        <button mat-icon-button aria-label="carousel-control" class="carousel-control next" (click)="OnNext()">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <span class="material-icons btn-minimize" (click)="onClick()" >
            minimize
        </span>
    </div>

</div>