.container{
    overflow: hidden;
    .btn-close{
        cursor: pointer;
    }
    img{
        width: 100%;
        height: 100%;
    }
}

::ng-deep .mat-dialog-container{
    background-color: #c5bcbc;
}