.app-spacer {
    flex: 1 1 auto;
  }

.main{
    position: relative;
}

.main .app-toolbar{
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 1000;
    height: 68px;
    border: 1px solid #707070;
    .app-icon{
        width: 150px;
        img{
            width: 100%;
        }
    }
    .app-menu{
        min-width: 150px;
        text-align: center;
        .menu-item{
            min-width: 150px;
            font-size: 23px;
            font-family: 'Nunito', sans-serif;
        }
    }
}

.main .sidenav-container{
    position: absolute;
    left:0;
    //top: 0;
    min-width: 270px;
    height: 100vh;
    z-index: 1000;
    background-color: #E7E0E2;
    opacity: 0.7;
}

.sidenav{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    padding-top: 0;
    position: absolute;
    z-index: 1000;
    .btn-container{
        text-align: end;
        .material-icons{
            cursor: pointer;
            color:#676161;
        }
        .btn-minimize{
            font-size: 60px;
            line-height: 0;
        }
        .btn-maximize{
            font-size: 35px;
            line-height: 1;
        }
    }
    .thumbnail{
        width: 226px;
        height: 191px;
        padding: 0;
        margin-bottom: 20px;
        cursor: pointer;
        video{
          width: 100%;
          //height: 110px;
        }
        figure {
            margin: 0;
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .video-label{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 18px;
            padding: 20px; 
        }
    }
}

.sidenav::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #E7E0E2;;
}

.sidenav::-webkit-scrollbar
{
	width: 6px;
	background-color: #E7E0E2;;
}

.sidenav::-webkit-scrollbar-thumb
{
	background-color: #d4c9c9;
}


.minimized{
    padding-top: 0;
    height: 240px !important;
    bottom: 0;
}

.maximized{
    height: 100vh;
    top: 0;
}

.sidenav-container-minimized{
    height: 260px !important;
    bottom: 0;
}


.btn-border-right{
    border-right: 2px solid #cecaca;
}


.btn-m{
    width: 250px
}

::ng-deep .mat-menu-panel{
    border-radius: 0 !important;
    position: absolute;
    top: 14px;
}

::ng-deep #mat-menu-panel-0{
    left:-15px;
}

::ng-deep .cdk-overlay-container{
    .mat-menu-item:hover{
        background: #A02222;
        color: white;
    }
    .mat-menu-content{
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }
    .mat-menu-item{
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: bold;
    }
}

.toolbar-sidenav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #eee;
    width: 100%;
    z-index: 10000;
  }
  
  .menu-icon{
    cursor: pointer;
    font-size: 40px;
  }

  .hamburger{
      color: #A02222;
      position: absolute;
      right: 0;
     
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .tool-bar-responsive{
        width: 100%;
      }
    .app-toolbar{
        display: none;
    }

    .toolbar-sidenav{
        display: block;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .tool-bar-responsive{
        width: 42%;
      }
      .app-toolbar{
        display: none;
    }
    .toolbar-sidenav{
        display: block;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .tool-bar-responsive{
        width: 42%;
      }
      .app-toolbar{
        display: flex;
    }
      .toolbar-sidenav{
          display: none;
      }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .tool-bar-responsive{
      width: 42%;
    }
    .app-toolbar{
        display: flex;
    }
    .toolbar-sidenav{
        display: none;
    }

  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .tool-bar-responsive{
        width: 40%;
    }
    .app-toolbar{
        display: flex;
    }
    .toolbar-sidenav{
        display: none;
    }
  }

  .toolbar-sidenav{
    overflow-y: auto;
    padding-bottom: 40px;
    .main-list{
        padding-left: 20px;
        font-size: 20px;
        margin-top: 10px;
        .nested-submenu{
            margin-left: 20px;
            .submenu-list-item{
                cursor: pointer;
            }
            .submenu-list-item:hover{
                background: #A02222;
                color: white;
            }
        }
      }
      
  }

 