<div class="main">
  <!-- Tool bar -->
  <mat-toolbar class="app-toolbar">
    <div class="app-icon"><img src="../assets/icons/logo-red.png" alt=""></div>
    <div class="app-menu"  [ngClass] = "i != (menuData.length - 1) ? 'btn-border-right': ''" *ngFor="let menu of menuData; let i = index">
      <button mat-button [matMenuTriggerFor]="aboveMenu" class="menu-item" [ngClass]="menu.name.length > 7 ? 'btn-m': ''">{{menu.name.toUpperCase()}}</button>
      <mat-menu #aboveMenu="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item *ngFor="let submenu of menu.submenu; let k = index" (click)="onMenuSelect(menu, submenu, k)">{{submenu.name}}</button>
      </mat-menu>
    </div>
  </mat-toolbar>

    <span class="material-icons-outlined menu-icon hamburger" (click)="toggleToolbarSideMenu()" *ngIf="!showToolbarSideMenu">
      menu
      </span>

 <div class="toolbar-sidenav" *ngIf="showToolbarSideMenu">
  
    <span class="material-icons-outlined menu-icon" (click)="toggleToolbarSideMenu()">
      close
      </span>
    
      <div class="main-list" *ngFor="let menu of menuData; let i = index"> {{menu.name.toUpperCase()}}
        <mat-list role="list" class="nested-submenu" *ngIf="menu.submenu && menu.submenu.length">
          <mat-list-item role="listitem" class="submenu-list-item" *ngFor="let submenu of menu.submenu; let k = index" (click)="onMenuSelect(menu, submenu, k)" >
            {{submenu.name}}
          </mat-list-item>
        </mat-list>
      </div>


 </div>

 

  <!-- Sidenav -->
  <div class="sidenav-container" [ngClass]= "isMinimized ? 'sidenav-container-minimized' : 'maximized'">
    
  </div>

  <div class="sidenav" [ngClass]= "isMinimized ? 'minimized' : 'maximized'" *ngIf="subMenu">
    <div class="btn-container">
      <span class="material-icons btn-minimize" (click)="onToggleMinimize()" *ngIf="!isMinimized">
        minimize
        </span>
        <span class="material-icons btn-maximize" *ngIf="isMinimized" (click)="onToggleMinimize()">
          add
        </span>
    </div>
    <mat-card class="thumbnail" (click)="onThumbnailSelect(true, subMenu.map.link)" *ngIf="subMenu.map && subMenu.map.link">
      <figure>
        <img src="{{subMenu.map.link}}" alt="">
      </figure>
    </mat-card>
    <!-- <app-thumbnail [data]="sideMenuItems[0]"></app-thumbnail> -->
    <mat-card class="thumbnail" *ngFor="let item of subMenu.resources; let j = index" (click)="onThumbnailSelect(false, item.link, item)">
      <video controls preload="metadata" poster="{{item.poster}}">
        <source src="{{item.link}}#t=15" type="video/mp4">
        <source src="{{item.link}}" type="video/ogg">
      </video>
      <mat-card-title class="video-label">{{item.title}}</mat-card-title>
    </mat-card>
  </div>

  <div class="container">
    <app-default-player [link]="videoURL" [isImage]="isImage"></app-default-player>
    <!-- <iframe #iframe [src]="videoURL | safeURL" allowfullscreen ></iframe> -->
    <app-carousel [data]="resource"></app-carousel>
  </div>

  
</div>




