<mat-card class="thumbnail" (click)="onThumbnailSelect(false, data.link)" *ngIf="data">
    <img  [src]="thumbnail | safeURL" />
    <mat-card-title class="thumbnail-title">{{data.title}}</mat-card-title>
</mat-card>