.thumbnail{
    width: 226px;
    height: 191px;
    padding: 0;
    margin-bottom: 20px;
    cursor: pointer;
    img{
      width: 100%;
      height: 110px;
    }
    .thumbnail-title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 18px;
        padding: 20px; 
    }
}