<div class="container">
    <!-- <iframe #iframe [src]="link | safeURL" allowfullscreen allow="autoplay" onload="onLoaded()" onerror="onError()"></iframe> -->
    <iframe #iframe  allowfullscreen allow="autoplay" onload="onLoaded()" onerror="onError()"></iframe>
</div>

